<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Досутп запрщен - 403</title>
    <link rel="stylesheet" type="text/css" href="/static/fomantic-ui-2.7.8/semantic.min.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    </style>
</head>
<body>

<div class="ui raised very padded text container">
    <h2 class="ui header" style="color: #a8a8a8;font-size: 22em;margin-bottom: -0.2em;">
        403
    </h2>
    <p style="color: #a8a8a8;font-size: 4em;text-align: center;">
        Доступ запрещен.
    </p>
    <a href="{% url 'core_login' %}" class="fluid ui basic button">
        На главную
    </a>
</div>
</body>
</html>