{% extends 'layout.jinja2' %}

{% from "macros.jinja2" import core_render_form %}

{% block content %}
    <form method="POST" class="ui form" enctype="multipart/form-data">
        {{ csrf_input }}
        {{ core_render_form(form, return_url=return_url, title=title ) }}
    </form>
{% endblock %}