{% extends 'layout.jinja2' %}

{% from "macros.jinja2" import core_render_form %}

{% block js %}
    {{ super() }}
    {% if view.request.user.is_staff %}
        <script type="text/javascript" src="/static/js/rowIdCopier.js"></script>
    {% endif %}
    <script>
        function showDeleteToast(deleteUrl) {
            Swal.fire({
                title: 'Вы уверены?',
                text: "Вы не сможете это отменить!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#000000',
                confirmButtonText: 'Да, удалить!',
                cancelButtonText: 'Отмена',
                preConfirm: () => {
                    const form = new FormData();
                    const csrf = document.cookie.split("csrftoken=")[1].split(";")[0];
                    form.append("csrfmiddlewaretoken", csrf);

                    return fetch(deleteUrl, {
                        method: 'POST',
                        credentials: "same-origin",
                        body: form,
                    }).then(response => {
                        if (!response.ok) {
                            throw new Error(response.statusText)
                        }
                        return response
                    }).catch(error => {
                        Swal.showValidationMessage(`Возникла ошибка: ${error}`)
                    })
                }
            }).then((result) => {
                if (result.value) {
                    Swal.fire(
                        'Удалено!',
                        'Запись удалена.',
                        'success'
                    )
                }
            })
        }
    </script>
{% endblock %}

{% block content %}
    <div class="ui hidden divider"></div>
    {% block list_title %}
        {% block meta_title %}
            {% if meta_title %}
                <a class="ui header grey">
                    {{ meta_title }}
                </a>
            {% endif %}
        {% endblock %}

        {% if filter_form %}
            <div
                    class="ui right floated labeled button"
                    onclick="$('#filterModal').modal('show') && addFomanticFormFields();">
                <div class="ui orange button">
                    <i class="filter icon"></i> Фильтр
                </div>
                <a class="ui basic left pointing orange label">
                    {{ page_obj.paginator.count }}
                </a>
            </div>
        {% endif %}
        <div class="ui hidden divider"></div>
    {% endblock %}

    <div class="controls noprint">
        {% block controls %}
            <div>
                {% if add %}
                    <a id="add_url" href="{{ add_url or 'new/' }}" class="ui blue basic button" title="Добавить запись">
                        Добавить запись
                    </a>
                {% endif %}

                {% if mass_deletion %}
                    <a href="{{ mass_deletion_url }}" class="ui red basic button" title="Массовое удаление">
                        Удалить записи
                    </a>
                {% endif %}

                {% if return_url %}
                    <a href="{{ return_url }}" class="ui gray basic button">
                        Назад
                    </a>
                {% endif %}

                {% block extra_buttons scoped %}
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    {% if object_list %}
        <table class="ui selectable celled table " {% if table_id %} id="{{ table_id }}" {% endif %}>
            <thead>
            {% block thead scoped %}
                <tr>
                    <th field_0>№</th>
                    {% for field_name in flds_vrbs %}
                        <th field_{{ loop.index }}>
                            {{ field_name }}
                        </th>
                    {% endfor %}
                    <!-- Дополнительные поля -->
                    {% block extra_fields_title scoped %}
                    {% endblock %}

                    {% block edit_controls_title %}
                        {% if edit %}
                            <th class="noprint"></th>
                        {% endif %}
                        {% if delete %}
                            <th class="noprint"></th>
                        {% endif %}
                    {% endblock %}
                </tr>
            {% endblock %}
            </thead>
            <tbody>
            {% for obj in page_obj.object_list -%}

                <tr id="{{ obj.id }}">
                    <td field_0>
                        {% if is_paginated -%}
                            {{ loop.index + page_obj.start_index() - 1 -}}
                        {%- else %}
                            {{ loop.index -}}
                        {%- endif %}

                    </td>

                    {% for field in flds -%}
                        <td field_{{ loop.index }} {{ vrbsflds[loop.index0].startswith("!") and 'style="display: none;"' }}>
                            {% set field_value = obj|string_of(field) %}
                            {% if field_value == 'False' %}
                                <i class='blue minus icon'></i>
                            {% elif field_value == 'True' %}
                                <i class='green check icon'></i>
                            {% else %}
                                {{ field_value }}
                            {% endif %}
                        </td>
                    {%- endfor %}
                    <!-- Дополнительные поля -->
                    {% block extra_fields scoped %}
                    {% endblock %}

                    {% block edit_controls scoped %}
                        {% if edit %}
                            <td class="rowControls noprint">
                                <a href="{{ obj.pk }}/edit/">
                                    <i class="edit outline icon" title="Редактировать запись"></i>
                                </a>
                            </td>
                        {% endif %}
                        {% if delete %}
                            <td class="rowControls noprint">
                                <a onclick="showDeleteToast('{{ obj.pk }}/delete/')">
                                    <i class="red trash alternate outline icon" title="Удалить запись"></i>
                                </a>
                            </td>
                        {% endif %}

                    {% endblock %}
                </tr>
            {%- endfor %}
            <!-- Дополнительные строки таблицы -->
            {% block extra_rows scoped %}
            {% endblock %}
            </tbody>
        </table>
    {% else %}
        <h3>Записей нет</h3>
    {% endif %}

    {% block extra_controls %}

    {% endblock %}

    <!-- pagination -->
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    {% if is_paginated %}
        {% if page_obj and paginator.num_pages > 1 %}
            <div class="ui right floated pagination menu">
                {% if page_obj.has_previous() %}
                    {% block pagination_previous %}
                        <a href="?page={{ page_obj.previous_page_number() }}{{ GET_request_params }}"
                           class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                    {% endblock pagination_previous %}
                {% endif %}

                {% if page_obj.has_previous() or page_obj.has_next() %}
                    {% block pagination_range %}
                        {% for p in page_obj.paginator.page_range %}
                            {% if p in range(page_obj.number - 6, page_obj.number + 6) %}
                                <a
                                        href="?page={{ p }}{{ GET_request_params }}"
                                        class="item {% if p == page_obj.number %}active{% endif %}">
                                    {{ p }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endblock pagination_range %}
                {% endif %}

                {% if page_obj.has_next() %}
                    {% block pagination_next %}
                        <a href="?page={{ page_obj.next_page_number() }}{{ GET_request_params }}"
                           class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    {% endblock pagination_next %}
                {% endif %}
            </div>
        {% endif %}
        <br>
    {% endif %}
    <div class="ui hidden divider"></div>

    {% if filter_form %}
        <div class="ui modal" id="filterModal">
            <div class="content">
                <form method="GET" class="ui form" enctype="multipart/form-data">
                    {{ core_render_form(filter_form.form, return_url='?', submit_text='Фильтровать', title='Фильтр' ) }}
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

