{% extends 'layout.jinja2' %}

{% from "macros.jinja2" import core_render_form %}

{% block js %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/libs/masonry.pkgd.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            {# Масонри включить на карточки, не забыть скрипт добавить#}
            $('#contentSegment .grid').masonry({
                itemSelector: '.column',
                percentPosition: true
            });

            $('.add_card .dimmable').dimmer({
                on: 'hover'
            })
        });
    </script>
{% endblock %}

{% block content %}
    <div class="ui hidden divider"></div>
    {% block list_title %}
        {% block meta_title %}
            {% if meta_title %}
                <a class="ui header grey">
                    {{ meta_title }}
                </a>
            {% endif %}
        {% endblock %}

        {% if filter_form %}
            <div
                    class="ui right floated labeled button"
                    onclick="$('#filterModal').modal('show') && addFomanticFormFields();">
                <div class="ui orange button">
                    <i class="filter icon"></i> Фильтр
                </div>
                <a class="ui basic left pointing orange label">
                    {{ page_obj.paginator.count }}
                </a>
            </div>
        {% endif %}
        <div class="ui hidden divider"></div>
    {% endblock %}

    {% block list_content %}
        <div class="ui three column doubling stackable grid">
            {% block add_card %}
                <div class="column add_card" onclick="location='{{ add_url }}'">
                    <div class="fluid ui card">
                        <div class="blurring dimmable content">
                            <div class="ui dimmer">
                                <div class="content">
                                    <a class="ui inverted button" href="{{ add_url }}">
                                        {{ add_card_action_title }}
                                    </a>
                                </div>
                            </div>
                            <div class="center aligned header">
                                {{ add_card_title }}
                            </div>
                            <div class="center aligned description">
                                <i class="circular plus big icon green"></i>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block cards %}
            {% endblock %}
        </div>

        {% if not object_list %}
            {% block empty_cards %}
                <div class="ui placeholder segment">
                    <div class="ui icon header">
                        <i class="braille icon"></i>
                        Раздел пуст
                    </div>
                </div>
            {% endblock %}
        {% endif %}

    {% endblock %}

    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    {% if is_paginated %}
        {% if page_obj and paginator.num_pages > 1 %}
            <div class="ui right floated pagination menu">
                {% if page_obj.has_previous() %}
                    {% block pagination_previous %}
                        <a href="?page={{ page_obj.previous_page_number() }}{{ GET_request_params }}"
                           class="icon item">
                            <i class="left chevron icon"></i>
                        </a>
                    {% endblock pagination_previous %}
                {% endif %}

                {% if page_obj.has_previous() or page_obj.has_next() %}
                    {% block pagination_range %}
                        {% for p in page_obj.paginator.page_range %}
                            {% if p in range(page_obj.number - 6, page_obj.number + 6) %}
                                <a
                                        href="?page={{ p }}{{ GET_request_params }}"
                                        class="item {% if p == page_obj.number %}active{% endif %}">
                                    {{ p }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endblock pagination_range %}
                {% endif %}

                {% if page_obj.has_next() %}
                    {% block pagination_next %}
                        <a href="?page={{ page_obj.next_page_number() }}{{ GET_request_params }}"
                           class="icon item">
                            <i class="right chevron icon"></i>
                        </a>
                    {% endblock pagination_next %}
                {% endif %}
            </div>
        {% endif %}
        <br>
    {% endif %}
    <div class="ui hidden divider"></div>

    {% if filter_form %}
        <div class="ui modal" id="filterModal">
            <div class="content">
                <form method="GET" class="ui form" enctype="multipart/form-data">
                    {{ core_render_form(filter_form.form, return_url='?', submit_text='Фильтровать', title='Фильтр' ) }}
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}

