<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="ru">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>{% if meta_title %}{{ meta_title }}: {% endif %}{{ site_name }}</title>

    <link rel="stylesheet" type="text/css" href="/static/fomantic/dist/semantic.min.css?16.01b">
    <style>
        html, body {
            height: 100%;
        }

        .height-kostyl {
            min-height: 73vh;
        }
    </style>

    <script type="text/javascript" src="/static/js/libs/jquery-3.3.1.min.js"></script>
    <script src="/static/fomantic/dist/semantic.min.js?16.01b"></script>
    <script src="/static/js/libs/sweetalert2.all.min.js"></script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $("#profileHeaderDropdown").dropdown({
                on: "hover"
            });

            addFomanticFormFields()
        });

        function addFomanticFormFields() {
            $(".ui.dropdown").dropdown({
                showOnFocus: false,         // Не открывать при открытии модалки
                fullTextSearch: true,       // Искать не только с начала строки
                message: {
                    addResult: 'Add <b>{term}</b>',
                    count: '{count} выбрано',
                    maxSelections: 'Максимум {maxCount} штук',
                    noResults: 'Не найдено.'
                }
            });

            $(".ui.checkbox").checkbox();

            $('.ui.calendar.withTime').calendar({
                type: 'time',
                ampm: false,
            });
            $('.ui.calendar.withDate').calendar({
                type: 'date',
                firstDayOfWeek: 1,
                startMode: 'year',
                text: {
                    days: ['ВС', 'ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ'],
                    months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                    today: 'Сегодня',
                    weekNo: 'Неделя'
                },
                formatter: {
                    date: function (date, settings) {
                        if (!date) return '';
                        const day = date.getDate();
                        const monthNumber = date.getMonth() + 1;
                        const month = monthNumber > 9 ? monthNumber : '0' + monthNumber;
                        const year = date.getFullYear();
                        return `${day}.${month}.${year}`
                    }
                }
            });
            $('.ui.calendar.withDate.withTime').calendar({
                firstDayOfWeek: 1,
                startMode: 'year',
                text: {
                    days: ['ВС', 'ПН', 'ВТ', 'СР', 'ЧТ', 'ПТ', 'СБ'],
                    months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    monthsShort: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
                    today: 'Сегодня',
                    weekNo: 'Неделя'
                },
                ampm: false,
                formatter: {
                    date: function (date, settings) {
                        if (!date) return '';
                        const day = date.getDate();
                        const monthNumber = date.getMonth() + 1;
                        const month = monthNumber > 9 ? monthNumber : '0' + monthNumber;
                        const year = date.getFullYear();
                        return `${day}.${month}.${year}`
                    }
                }
            });
        }
    </script>

    {% block css %}{% endblock %}
    {% block css_extra %}{% endblock %}
    {% block js %}{% endblock %}
    {% block js_extra %}{% endblock %}
</head>
<body>
<div class="pusher">
    <div class="ui top attached stackable pointing menu">
        <div class="ui container">
            <div class="item">
                <a href="{{ url('core_login') }}">
                    <img class="ui mini image" src="/static/logo.svg" alt="logo">
                </a>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment height-kostyl" id="contentSegment">
        <div class="ui container">
            <div class="ui tab active" data-tab="collections">
                <div class="head-block">
                    {% if page_header_extra %}
                        <h4 class="ui header grey">{{ page_header_extra }}</h4>
                    {% endif %}

                    {% if page_help_text %}
                        <p>{{ page_help_text }}</p>
                    {% endif %}

                    {% if page_help_url %}
                        <a class="circular ui massive red icon basic button" href="{{ page_help_url }}"><i
                                class="question icon"></i></a>
                    {% endif %}
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block outside_content %}{% endblock %}

    {% block modal %}{% endblock %}

    {% block footer %}
        <div id='footer' class="ui inverted vertical footer segment" style="height: 200px; background-color: #333333">
            <div class="ui center aligned container">
                <div class="ui stackable inverted divided grid" style="min-height: 115px; background-color: #333333">
                    <div class="two wide column">
                        <div class="ui inverted mini statistics" style="display: flex; justify-content: center">
                            <div class="statistic">
                                <div class="value">
                                    +7 (3333) 44-22-11
                                </div>
                                <div class="label">
                                    Телефон поддержки
                                </div>
                            </div>

                            <div class="statistic">
                                <div class="value" style="text-transform: none!important;">
                                    test@gmail.com
                                </div>
                                <div class="label">
                                    e-mail
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
</div>
</body>
</html>

