<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Вход | projectname</title>
    <link rel="stylesheet" type="text/css" href="/static/fomantic/dist/semantic.min.css?16.01b">
    <script type="text/javascript" src="/static/js/libs/jquery-3.3.1.min.js"></script>
    <script src="/static/fomantic/dist/semantic.min.js?16.01b"></script>

    <style type="text/css">
        body {
        }

        body > .grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 450px;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            $('.ui.form').form({
                fields: {
                    email: {
                        identifier: 'username',
                        rules: [{
                            type: 'empty',
                            prompt: 'Введите имя пользователя'
                        }]
                    },
                    password: {
                        identifier: 'password',
                        rules: [{
                            type: 'empty',
                            prompt: 'Введите пароль'
                        }]
                    }
                }
            })
            if (document.location.search.includes('student_successfully_registered'))
                $('body').toast({
                    title: "Регистрация студента",
                    message: "Вы успешно зарегистрировались",
                    displayTime: 5000,
                    showProgress: 'top',
                    position: 'bottom right'
                });
            if (document.location.search.includes('student_registration_failed'))
                $('body').toast({
                    class: 'error',
                    title: "Регистрация студента",
                    message: "Не удалось зарегистрировать аккаунт",
                    displayTime: 5000,
                    showProgress: 'top',
                    position: 'bottom right'
                });
        })
    </script>
</head>
<body style="display: flex;justify-content: center;">

<div class="two column stackable ui grid" style="display: flex; justify-content: center;">
    <div class="column" style="display: flex; justify-content: center">
        <img src="/static/img/svg/studying.svg" alt="Изображение учащегося" width="300px">
    </div>
    <div class="column"
         style="background-color: white; display: flex; flex-direction: column; justify-content: center;">
        <form class="ui form" method="post" style="min-width: 300px">
            <h2 class="ui teal header" style="text-align: center">
                projectname
            </h2>
            {{ csrf_input }}
            <div class="ui segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="username" id="id_username" placeholder="Имя пользователя"
                               autocomplete="off">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" id="id_password" placeholder="Пароль"
                               autocomplete="off">
                    </div>
                </div>

                <div class="fluid ui large teal basic button submit">
                    Войти
                </div>

                <div class="ui divider hidden"></div>
                <div class="fluid ui buttons">
                    <a class="ui blue basic button" href="{{ url('core_login') }}">
                        Предпросмотр
                    </a>
                    <a class="ui basic teal button" href="{{ url('register_student') }}">
                        Регистрация
                    </a>
                </div>
            </div>

            <div class="ui error message"></div>
            {% if form.errors %}
                <div class="ui divider hidden"></div>
                <div class="ui form error">
                    <div class="ui message error visible">
                        <h5>Возникли ошибки:</h5>
                        {% for field_id, error in form.errors.items() %}
                            <div class="header">
                                {% if field_id != '__all__' %}
                                    <a class="ui message error visible"
                                       href="#id_{{ field_id }}">{{ form[field_id].label }}:
                                        {{ error | safe }}
                                    </a>
                                {% else %}
                                    {{ error | safe }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ui divider hidden"></div>
            {% endif %}
        </form>
    </div>
</div>

</body>

</html>
