{% macro core_render_form(form, return_url=None, title='', submit_text='Сохранить') %}
    <h4 class="ui dividier header {{ title and 'hidden' }}">
        {{ title or ''}}
    </h4>

    {% set outer_loop_ns = namespace(counter=0) %}

    {% for field in form %}
        {% if field.is_hidden %}
            {{ field | safe }}
        {% else %}
            {% if field.field.widget.attrs.get('divider') %}
                {% if not loop.first %}
                    </div>
                {% endif %}
                <h4 class="ui dividing header"> {{ field.field.widget.attrs.get('divider') }}</h4>
                <div class="fields">
                    {% if (loop.index0 - outer_loop_ns.counter) % 2.0 %}
                        {% set outer_loop_ns.counter = outer_loop_ns.counter + 1 %}
                    {% endif %}
            {% elif not (loop.index0 - outer_loop_ns.counter) % 2.0 %}
                {% if not loop.first %}
                    </div>
                {% endif %}
                <div class="fields">
            {% endif %}

            <div class="field eight wide {{ field.field.required and 'required' }} {{ field.errors and 'error' }}">
                {% if field.field.widget.input_type == 'checkbox' %}
                    {# Checkbox #}
                    <div class="ui checkbox">
                        {{ field | safe }}
                        <label {% if field.field.required %}title="Поле «{{ field.label }}» - обязательно для заполнения" {% endif %}>{{ field.label }}</label>
                    </div>
                {% elif field.field.widget.attrs.get('datepicker') or field.field.widget.attrs.get('timepicker') %}
                    {# DatePicker#}
                    <label {% if field.field.required %}title="Поле «{{ field.label }}» - обязательно для заполнения" {% endif %}>{{ field.label }}</label>
                    <div class="ui calendar {{ field.field.widget.attrs.get('timepicker') and 'withTime' }} {{ field.field.widget.attrs.get('datepicker') and 'withDate' }}">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            {{ field | safe }}
                        </div>
                    </div>
                {% else %}
                    {# other fields #}
                    <label {% if field.field.required %}title="Поле «{{ field.label }}» - обязательно для заполнения" {% endif %}>{{ field.label }}</label>
                    {{ field | safe }}
                {% endif %}

                {% if field.errors %}
                    <div class="ui message error visible">
                        {{ form.errors[field.name] | safe }}
                    </div>
                {% endif %}
            </div>
            {% if loop.last %}
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    {% if form.errors %}
        <div class="ui divider hidden"></div>
        <div class="ui form error">
            <div class="ui error message">
                <div class="ui horizontal divider">При сохранении возникли ошибки</div>

                {% for field_id, error in form.errors.items() %}
                    {% if field_id != '__all__' %}
                        <div class="header" href="#id_{{ field_id }}">
                            {{ form[field_id].label }}:
                        </div>
                        <p>
                            {{ error | safe }}
                        </p>
                    {% else %}
                        {{ error | safe }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="ui divider hidden"></div>

    <div class="two ui buttons">
        <input type='submit' class="ui submit green button basic large" value="{{ submit_text }}"/>
        {% if return_url %}
            <a href="{{ return_url }}" class="ui button basic grey large">Отмена</a>
        {% endif %}
    </div>

    {% if form and form.instance %}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                {% for connected_dropdown in form.instance.CONNECTED_DROPDOWN_LIST %}
                    {# Наполняем объект массивов для подставления значений в дочерний выпадающий список#}
                    const relationValues{{connected_dropdown.parent + connected_dropdown.child}} = {
                    {%- for parent_relation_id in connected_dropdown.relation_values %}
                        {{ parent_relation_id }} : [
                        {% for child_relation_id in connected_dropdown.relation_values[parent_relation_id] %}
                            {
                                name: '{{ form.instance[connected_dropdown.relation_name_list][child_relation_id][1] }}',
                                value: {{ child_relation_id }},
                            },
                        {% endfor %}
                    ],
                    {% endfor -%}
                    }

                    {# Слушаем изменения родительского выпадающего списка #}
                    $('#id_{{connected_dropdown.parent}}').parent().dropdown({
                        onChange: function (value) {
                            const dropdownValues = relationValues{{connected_dropdown.parent + connected_dropdown.child}}[value];

                            const currentDropdownObject = $('#id_{{connected_dropdown.child}}').parent();
                            if (dropdownValues && !dropdownValues.length) {
                                {# Прячем, если пусто #}
                                currentDropdownObject.parent().hide();
                                currentDropdownObject.dropdown({
                                    values: dropdownValues,
                                }).dropdown('set selected', null)
                            } else {
                                {# Подставляем значения #}
                                currentDropdownObject.parent().show();
                                currentDropdownObject.dropdown({
                                    values: dropdownValues,
                                }).dropdown('set selected', dropdownValues[0])
                            }
                        }
                    });
                    {# При загрузке страницы подставляем доступные значения в дочерний #}
                    $('#id_{{connected_dropdown.child}}').parent().dropdown({
                        values: relationValues{{connected_dropdown.parent + connected_dropdown.child}}[{{ form.instance[connected_dropdown.parent] }}]
                    });
                    {# Устанавливем дочернему его значение #}
                    {% if form.instance[connected_dropdown.child] != None %}
                        $('#id_{{connected_dropdown.child}}').parent().dropdown('set selected', {{ form.instance[connected_dropdown.child] }});
                    {% endif %}
                {% endfor %}

            });
        </script>
    {% endif %}
{% endmacro %}