{% extends '_general_list.jinja2' %}

{% block add_card %}
    {% if user_type in (UserChoices['ADMIN'],) %}
        {{ super() }}
    {% endif %}
{% endblock %}
{% block js %}
    {{ super() }}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            let imagesInGrid = 0;
            let cards = document.querySelectorAll("div.ui.three.column.doubling.grid .column img")
            window.cards = cards;
            cards.forEach(card => card.addEventListener("load", function () {
                if (imagesInGrid === cards.length - 5) {
                    $('#contentSegment .grid').masonry({
                        itemSelector: '.column',
                        percentPosition: true
                    });
                    console.log('masonry')
                } else {
                    imagesInGrid++;
                }
            }))
        });
    </script>
{% endblock %}

{% block cards %}
    {% for one_time_event in onetimeevent_list %}
        <div class="column" id="onetimeevent_{{ one_time_event.id }}">
            <div class="ui card">
                <div class="image">
                    <img
                            src="{{ one_time_event.image and "/media/%s" % one_time_event.image or "/static/logo.jpg" }}"
                            alt="{{ 'Изображение %s' % one_time_event.name }}">
                </div>
                <div class="content">
                    <a class="center aligned header"
                       href="{{ url('one_time_event_detail', args=[one_time_event.id]) }}">
                        {{ one_time_event.name }}
                    </a>
                    <div class="meta">
                        <div class="ui list">
                            {% if user_type in (UserChoices['ADMIN'],) %}
                                <div class="item">
                                    <i class="tag icon"></i>
                                    <div class="content">
                                        <b>
                                            Контактное имя:
                                        </b>
                                        {{ one_time_event.contact_name }}
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="envelope outline icon"></i>
                                    <div class="content">
                                        <b>
                                            Контактный email:
                                        </b>
                                        {{ one_time_event.contact_email }}
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="phone alternate icon"></i>
                                    <div class="content">
                                        <b>
                                            Контактный телефон:
                                        </b>
                                        {{ one_time_event.contact_phone }}
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div>
                            <i class="calendar alternate outline icon"></i>
                            Дата проведения:
                            {{ one_time_event.start_date_time and one_time_event.start_date_time.strftime("%d.%m.%Y %H:%M") or "Не указано" }}
                        </div>
                        {% if user_type in (UserChoices['ADMIN'],) %}
                            <div>
                                <i class="circle outline icon"></i>
                                Статус:
                                {{ one_time_event.STATUS_CHOICES[one_time_event.event_status][1] }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% if user_type in (UserChoices['ADMIN'],) %}
                    <div class="extra content">
                        <a href="{{ url('one_time_event_edit', args=[one_time_event.id]) }}">
                            <i class="edit outline icon"></i>
                            Редактировать
                        </a>
                    </div>
                {% elif datetime_now < one_time_event.start_date_time %}
                    {% if user %}
                        {% if one_time_event.visitor_filter_by_me %}
                            <a class="fluid ui blue basic button">
                                <i class="check teal icon"></i>
                                Записан
                            </a>
                        {% elif one_time_event.visitor.all() | length + one_time_event.reserved_seats_count == one_time_event.seats_count %}
                            <a class="fluid ui blue basic button">
                                Нет свободных мест для записи
                            </a>
                        {% else %}
                            <a href="{{ url('one_time_event_request', args=[one_time_event.id]) }}"
                               class="fluid ui teal basic button">
                                Принять участие
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{{ url('core_login') + '?next=' + url('one_time_event_request', args=[one_time_event.id]) }}"
                           class="fluid ui blue basic button">
                            Принять участие
                            <br>
                            <span class="ui padded small text">
                                Авторизуйтесь или зарегистрируйтесь
                            </span>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
