{% extends 'layout.jinja2' %}

{% from "macros.jinja2" import core_render_form %}

{% block content %}

    {% for room in form.fields['room'].queryset %}
        <div class="ui grid stackable">
            <div class="ui sixteen wide column">
                <div class="ui center aligned big header">
                    Площадка: {{ room.name }}
                </div>
            </div>

            <div class="ui six wide column">
                <img class="ui rounded image"
                     src="https://projectname.ru{{ room.image and "/media/%s" % room.image or "/static/logo.jpg" }}"
                     alt="{{ 'Изображение %s' % room.name }}">
            </div>

            <div class="ui ten wide column" style="font-size: 18px">
                <div class="ui selection list ">
                    <div class="item">
                        Тип площадки:
                        <div class="ui blue basic large label">
                            {{ room.ROOM_TYPE_CHOICES[room.room_type][1] }}
                        </div>
                    </div>
                    <div class="item">
                        Рабочих мест:
                        <div class="ui blue basic large label">
                            {{ room.workplace_count }}
                        </div>
                    </div>
                    <div class="item">
                        <div class="ui labels">
                            Компетенции:
                            {% for skill in room.skill.all() %}
                                <div class="ui large label">
                                    {{ skill }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="item">
                        Адрес:
                        <div class="ui blue basic large label">
                            {{ room.address }}
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui sixteen wide column">
                <form method="POST" class="ui form segment" enctype="multipart/form-data">
                    <div class="two fields">
                        {% for field in form %}
                            {% if field.name in  ['start_date_time', 'duration'] %}

                                <div class="field {{ field.field.required and 'required' or '' }} {{ field.errors and 'error' or '' }}">
                                    {% if field.name == 'start_date_time' %}
                                        <label {% if field.field.required %}title="Поле «{{ field.label }}» - обязательно для заполнения" {% endif %}>
                                            {{ field.label }}
                                        </label>
                                        <div class="ui calendar {{ field.field.widget.attrs.get('timepicker') and 'withTime' }} {{ field.field.widget.attrs.get('datepicker') and 'withDate' }}">
                                            <div class="ui input left icon">
                                                <i class="calendar icon"></i>
                                                {{ field | safe }}
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if field.name ==  'duration' %}
                                        <label {% if field.field.required %}title="Поле «{{ field.label }}» - обязательно для заполнения" {% endif %}>{{ field.label }}</label>
                                        {{ field | safe }}
                                    {% endif %}
                                </div>
                            {% endif %}

                            {% if field.name ==  'room' %}
                                {{ field | safe }}
                            {% endif %}
                        {% endfor %}
                    </div>

                    {{ csrf_input }}

                    <div class="ui center aligned small header">
                        Перечень доступного оборудования
                    </div>

                    <div class="ui divided selection list">
                        <a class="item">
                            <div class="ui tiny header">
                                Оборудование
                            </div>
                            <div class="right floated ui tiny header">
                                Требуемое количество
                            </div>
                        </a>
                        {% for equipment in form.fields['equipment'].queryset %}
                            <a class="item">
                                {{ equipment.name }}
                                <div class="right floated ui input" style="width: 70px">
                                    <input id="id_equipment_{{ equipment.id }}"
                                           name="equipment_{{ equipment.id }}" type="number"
                                           max="{{ equipment.amount }}" min="0" value="0">
                                </div>
                            </a>
                        {% endfor %}
                    </div>

                    <div class="ui hidden divider"></div>

                    <div class="fluid ui buttons">
                        <a class="ui left labeled icon button" href="{{ url('rent_request_new') }}">
                            <i class="left chevron icon"></i>
                            Назад
                        </a>
                        <input type="submit" class="ui blue button" value="Забронировать"/>
                    </div>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock %}