{% extends 'layout.jinja2' %}

{% block js %}
{% endblock %}

{% block content %}
    <h4 class="ui center aligned large header">
        {{ meta_title }}
    </h4>
    <br>
    <div class="ui three column doubling stackable grid">
        {% for room in form.fields['room'].queryset %}
            <div class="column">
                <div class="fluid ui link card" onclick="location = '?room={{ room.id }}'">
                    <div class="image">
                        <img
                                src="https://projectname.ru{{ room.image and "/media/%s" % room.image or "/static/logo.jpg" }}"
                                alt="{{ 'Изображение %s' % room.name }}">
                    </div>
                    <div class="content">
                        <a class="center aligned header"
                           href="?room={{ room.id }}">
                            {{ room.name }}
                        </a>
                        <br>
                        <div class="meta">
                            Адрес: {{ room.address }}
                        </div>
                        <div class="description">
                            <div class="ui list">
                                <div class="item">
                                    Рабочих мест: {{ room.workplace_count }}
                                </div>
                                <div class="item">
                                    Тип площадки: {{ room.ROOM_TYPE_CHOICES[room.room_type][1] }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
